@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff"), url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
.main-header {
  width: 280px;
  padding: 10px 20px 18px 10px;
  margin: 0;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-header__logo {
  display: flex;
  align-items: center;
}

.main-header__logo-cat {
  margin-right: auto;
}

.main-header__button {
  width: 26px;
  height: 18px;
  border: 0;
  padding: 0;
  background-color: inherit;
  background-image: url("../img/main-header/menu.svg");
  background-position: center;
}

.main-nav {
  margin-top: 46px;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  display: flex;
  justify-content: center;
}

.site-list__item:not(:last-of-type) {
  margin-bottom: 46px;
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promo__wrapper::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/main-nav/index-background-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 302px;
  width: 100%;
  z-index: -1;
  top: 0;
}

.promo__text-container {
  position: relative;
  min-height: 302px;
}

.promo__wrapper img {
  display: block;
  margin: -130px auto 0 auto;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.promo__intro {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.promo__button-choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: white;
  width: 280px;
  min-height: 40px;
  background: #69b738;
  border: none;
}

.catalog_container {
  padding: 20px;
}

.catalog__program {
  display: flex;
  flex-direction: column;
  min-height: 270px;
  padding: 21px 33px 18px 20px;
  background: #f2f2f2;
}
.catalog__program:not(:last-of-type) {
  margin-bottom: 20px;
}

.catalog__name-program {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}

.catalog__description {
  width: 228px;
  color: #444444;
  margin: 0;
  margin-bottom: 38px;
}

.catalog__link {
  text-decoration: none;
}

.catalog__link-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages {
  padding: 20px 20px 50px 20px;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.works-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.works-list__item {
  display: flex;
  align-items: center;
}

.works-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.works-list__image {
  min-width: 60px;
  min-height: 60px;
  margin-right: 20px;
  background-image: url("..img/main-container/promo/sheet.svg");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}

.works-list__paragraph {
  max-width: 200px;
  margin: 0;
  color: #444444;
}

.example {
  background: #ebebeb;
  padding: 25px 20px 40px 20px;
}

.example__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__paragraph {
  margin: 0;
  color: #444444;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  text-align: center;
}

.example__expenses {
  margin: 0 auto 20px auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.map__wrapper {
  display: flex;
  padding: 26px 20px;
}

.map__heading {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  width: 50%;
}

.map__adress {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  width: 50%;
}

.main-footer {
  background: #f2f2f2;
  padding: 40px 20px 22px 20px;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin: 0 72px 42px 72px;
  padding: 0;
  list-style-type: none;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

.request {
  padding: 0 20px 32px 20px;
  margin: 0;
}

.wrapper--gray {
  background: #f2f2f2;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 38px;
  padding-top: 26px;
}

.form__paragraph {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.form__main-information {
  margin-bottom: 46px;
}

.form__input-wrapper {
  padding: 0;
  border: 0;
}

.form__main-item {
  display: flex;
  margin: 0;
  margin-bottom: 14px;
  align-items: center;
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

.form__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding: 0 20px;
  height: 45px;
}

.form__contact {
  margin-bottom: 24px;
}

.program-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.program-list__item {
  margin-bottom: 14px;
}

.program-list__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.program-list__input {
  margin: 0;
  margin-right: 15px;
}

.form__contact-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}

.form__comment {
  margin-bottom: 23px;
}

.form__input-comment {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  max-width: 270px;
  min-height: 150px;
  padding: 10px 12px 0 15px;
}

.additionally-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.additionally-list__item {
  margin-bottom: 14px;
}

.additionally-list__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.additionally-list__input {
  margin-right: 16px;
}

.form__additionally {
  margin-bottom: 34px;
}

.request__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #ffffff;
  width: 280px;
  min-height: 40px;
  background: #69b738;
  border: none;
}

.request__info {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  margin: 0;
}

.catalog-container {
  padding: 0 20px;
}

.catalog-container__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 50px;
}

.catalog {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.catalog__item:not(:last-of-type) {
  margin-bottom: 33px;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__specifications {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__wrapper {
  display: flex;
}

.catalog__wrapper-item {
  width: 50%;
}

.catalog__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #ffffff;
  width: 280px;
  min-height: 40px;
  background: #69b738;
  border: none;
}

.more {
  padding-bottom: 50px;
}

.more__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.more__discription {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
  color: #444444;
}

.more__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #444444;
  width: 280px;
  min-height: 40px;
  border: none;
  background: #d4cbcb;
}

.additional {
  padding: 0 20px 54px 20px;
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 49px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-list__item {
  margin-bottom: 31px;
}

.product-list__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.product-list__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-list__specifications {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}

.product-list__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #ffffff;
  width: 280px;
  min-height: 40px;
  background: #69b738;
  border: none;
}

.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 290px;
}
.gift::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/main-container/cat.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 290px;
  width: 100%;
  z-index: -1;
  top: 0;
}

.gift svg {
  margin: 58px auto 48px auto;
}

.gift__discription {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */