.additional {
  padding: 0 20px 54px 20px;
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 49px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-list__item {
  margin-bottom: 31px;
}

.product-list__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.product-list__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-list__specifications {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}

.product-list__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #ffffff;
  width: 280px;
  min-height: 40px;
  background: #69b738;
  border: none;
}

.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 290px;

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/main-container/cat.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 290px;
    width: 100%;
    z-index: -1;
    top: 0;
  }
}

.gift svg {
  margin: 58px auto 48px auto;
}

.gift__discription {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
