@use "./variables.scss" as *;

.advantages {
  padding: 20px 20px 50px 20px;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: $black-color;
  margin: 0;
  margin-bottom: 40px;
}
