@use "./variables.scss" as *;

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 37px 153px;
    counter-reset: index;
    list-style-type: none;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    justify-content: space-between;
  }
  /*@media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }*/
}

.advantages-list__item {
  position: relative;
  display: flex;
  align-items: start;
  width: 100%;
  margin: 0;
  margin-left: 80px;
  color: $grey-color;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    min-height: 280px;
    width: 250px;
    font-size: 16px;
    line-height: 150%;
    margin-left: 0;
    padding-bottom: 90px;
    padding-top: 30px;

    &::after {
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      color: $basic-gray-color;
      z-index: -1;
      bottom: 20px;
      counter-increment: index;
      content: counters(index, ".", decimal) " ";
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    min-height: 280px;
    width: 250px;
    font-size: 16px;
    line-height: 150%;
    margin-left: 0;
    padding-bottom: 90px;
    padding-top: 30px;
  }

  &--icon-1 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-1.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
        top: 30px;
      }
    }
  }

  &--icon-2 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-2.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
        top: 30px;
      }
    }
  }

  &--icon-3 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-3.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
        top: 30px;
      }
    }
  }

  &--icon-4 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-4.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
        top: 30px;
      }
    }
  }
}

.advantages-list__text {
  @media (min-width: $tablet-width) {
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
