@use "./variables.scss" as *;

.advantages {
  padding: 20px 20px 50px 20px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 90px 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1225px;
    padding: 71px 110px 69px 110px;
  }
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: $black-color;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}
