@use "./variables.scss" as *;

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;

  /*@media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }*/
}

.advantages-list__item {
  position: relative;
  display: flex;
  align-items: left;
  width: 100%;
  margin: 0;
  margin-left: 80px;
  color: $grey-color;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 280px;
    width: 50%;
    font-size: 16px;
    line-height: 150%;
    margin-left: 0;
    padding-bottom: 125px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 280px;
    width: 230px;
    font-size: 16px;
    line-height: 150%;
    margin-left: 0;
    padding-bottom: 126px;

    &:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 94px;
    }
  }

  &--icon-1 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-1.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
      }
    }
  }

  &--icon-2 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-2.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
      }
    }
  }

  &--icon-3 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-3.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
      }
    }
  }

  &--icon-4 {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/main-container/advantages/icon-4.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 60px;
      width: 60px;
      left: -80px;
      z-index: -1;
      top: 0;

      @media (min-width: $tablet-width) {
        left: 0;
      }
    }
  }
}

.advantages-list__text {
  @media (min-width: $tablet-width) {
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
