@use "./variables.scss" as *;

.catalog-container {
  border-top: 1px solid $line-color;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 68px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 75px;
  }
}

.catalog-container__title {
  position: relative;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  margin-bottom: 50px;
  padding-top: 22px;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: $line-color;
    left: -30px;
    bottom: -41px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    padding-top: 0;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.catalog-container__program {
  min-height: 250px;
  padding: 30px 33px 18px 20px;
  background: $basic-gray-color;

  @media (min-width: $tablet-width) {
    padding: 80px 62px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 66px 60px 52px;
  }
}

.catalog-container__name-program {
  position: relative;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black-color;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 24px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-left: 35px;
    margin-bottom: 74px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 50px;
    background-image: url("../img/main-container/program/cat.svg");
    background-repeat: no-repeat;
    right: 117%;
    top: -9px;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 144px;
      height: 194px;
      background-image: url("../img/main-container/program/cat-slim.svg");
      right: 3px;
      top: 3px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      background-image: url("../img/main-container/program/cat-desktop.svg");
      left: 15px;
      top: -36px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $main-color;
    right: 112%;
    top: -6px;
    z-index: 0;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      right: -28px;
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: 0;
      top: -30px;
    }
  }

  &--aftercat {
    @media (min-width: $desktop-width) {
      padding-left: 73px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 67px;
      height: 28px;
      background-image: url("../img/main-container/program/leopard.svg");
      background-repeat: no-repeat;
      right: 107%;
      top: 6px;
      z-index: 1;

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 112px;
        background-image: url("../img/main-container/program/leopard-slim.svg");
        background-repeat: no-repeat;
        right: -62px;
        top: 60px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 56px;
        background-image: url("../img/main-container/program/leopard-desktop.svg");
        background-repeat: no-repeat;
        left: -21px;
        top: -11px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $main-color;
      right: 112%;
      top: -5px;
      z-index: 0;

      @media (min-width: $tablet-width) {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $main-color;
        right: -28px;
        top: 13px;
      }

      @media (min-width: $desktop-width) {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $main-color;
        left: -3px;
        top: -30px;
      }
    }
  }
}

.catalog-container__description {
  width: 228px;
  color: $grey-color;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 17px;
  border-bottom: 1px solid $line-color;

  @media (min-width: $tablet-width) {
    min-width: 340px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
    padding-bottom: 0;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 454px;
    font-size: 16px;
    margin-bottom: 26px;
  }
}

.catalog-container__link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;
  text-decoration: none;
  padding-right: 57px;

  &:hover {
    &::before {
      background-image: url("../img/main-container/program/arrow-long.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      background-image: url("../img/main-container/program/arrow-long.svg");
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 12px;
    background-image: url("../img/main-container/program/arrow.svg");
    background-repeat: no-repeat;
    right: 9px;

    @media (min-width: $tablet-width) {
      right: 0;
    }
  }
}
