@use "./variables.scss" as *;

.catalog {
  display: flex;
  flex-direction: column;
  gap: 19px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 62px 80px;
  }
}

.catalog__item {
  position: relative;
  padding: 13px 0 12px 0;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: $line-color;
    left: -30px;
    bottom: -11px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--more {
    background-image: url("../img/catalog/plus.svg");
    background-color: $white-color;
    background-repeat: no-repeat;
    background-position: center 17px;
    background-size: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      background-color: $line-color;
      left: -30px;
      bottom: 17px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    background-image: linear-gradient($white-color 16%, $basic-gray-color 16%);
    padding: 16px 36px 39px;

    &--top {
      padding: 10px 36px 39px;
    }

    &--middle {
      padding: 11px 36px 39px;
    }

    &--bottom {
      padding: 12px 36px 39px;
    }

    &--rise {
      padding: 11px 36px 39px;
    }

    &--more {
      background-image: url("../img/catalog/plus.svg");
      background-color: $white-color;
      background-repeat: no-repeat;
      background-position: center 50px;
      background-size: 60px;
      margin-top: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    background-image: linear-gradient($white-color 16%, $basic-gray-color 16%);
    padding: 8px 30px 40px;

    &--more {
      background-image: url("../img/catalog/plus.svg");
      background-color: $white-color;
      background-repeat: no-repeat;
      background-position: center 50px;
      background-size: 60px;
      margin-top: 80px;
    }
  }
}

.catalog__image-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.catalog__item-wrapper {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    margin: 0 0 28px;
  }
}

.catalog__title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 123%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 17px;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-right: 0;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 120%;
    max-width: 140px;
  }
}

.catalog__specification-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 252px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__specification {
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 114%;
  color: $grey-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 100%;
  }
}

.catalog__item-content-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.catalog__item-content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.catalog__item-image {
  &--small-chicken {
    margin: 11px 0 0 35px;

    @media (min-width: $tablet-width) {
      margin: 24px 0 0 0;
      width: 160px;
      height: 173px;
    }
  }

  &--small {
    margin: 27px 0 0 35px;

    @media (min-width: $tablet-width) {
      margin: 25px 0 33px;
    }
  }

  &--big {
    margin: 6px 0 0 27px;
  }

  &--fish-500 {
    margin: 19px 0 8px 36px;
    width: 67px;
    height: 78px;

    @media (min-width: $tablet-width) {
      margin: -2px 0 31px;
      width: 161px;
      height: 199px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;

    &--small {
      margin: 26px 0 33px;
      width: 161px;
      height: 172px;
    }

    &--big {
      width: 168px;
      height: 200px;

      @media (min-width: $tablet-width) {
        margin: -5px 0 36px 0;
      }
    }
  }
}

.catalog__button {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &--small {
      margin: 5px 0 0 5px;
      width: 98%;
    }
  }
}
