@use "./variables.scss" as *;

.catalog-container {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 68px 30px;
  }
}

.catalog-container__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  margin-bottom: 50px;
}

.catalog {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  &:not(:last-of-type) {
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 511px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  text-transform: uppercase;
}

.catalog__specification {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 114%;
  color: $grey-color;
}

.catalog__item-content-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.catalog__item-content {
  width: 50%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
