@use "./variables.scss" as *;

.main-container__catalog {
  padding: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 110px;
  }
}

.catalog__program {
  min-height: 250px;
  padding: 21px 33px 0 20px;
  background: $basic-gray-color;

  &:not(:last-of-type) {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 81px 62px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 81px 62px 53px 52px;
  }
}

.catalog__name-program {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black-color;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 74px;
  }
}

.catalog__description {
  width: 228px;
  color: $grey-color;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    min-width: 340px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    min-width: 450px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 23px;
  }
}

.catalog__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

