@use "./variables.scss" as *;

.copyright {
  &:hover,
  &:focus {
    svg {
      fill: $main-color;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 1px;
  }
}

.copyright__text {
  display: flex;
  align-items: center;
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 19px;
    color: $grey-color;
    margin-right: 27px;
  }
}

.copyright__icon {
  fill: $gray-range-color;
}
