@use "./variables.scss" as *;

.example {
  background-color: $basic-gray-color;
  padding: 25px 20px 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: $white-color;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    background-image: linear-gradient($white-color 20%, $basic-gray-color 20%);
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px 110px;
    margin-right: 224px;
  }
}

.example__name {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__paragraph {
  margin: 0;
  margin-bottom: 54px;
  color: $grey-color;

  @media (min-width: $desktop-width) {
    max-width: 436px;
    font-size: 16px;
    line-height: 150%;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 55px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid $special-grey;
  border-radius: 3px;
  padding: 15px 25px 17px 22px;

  @media (min-width: $tablet-width) {
    gap: 60px;
    padding: 15px 30px 20px;
  }
}

.example__number {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $black-color;
  text-align: center;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 123%;
    margin-bottom: 0;
  }
}

.example__description {
  position: absolute;
  font-size: 12px;
  line-height: 100%;
  color: $grey-color;
  max-width: 88px;
  padding: 0 14px;
  margin: 0;
  text-align: center;
  bottom: -10px;
  background-color: $basic-gray-color;

  @media (min-width: $tablet-width) {
    background-color: $white-color;
    padding: 0 5px;
    max-width: 125px;
    bottom: -5px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-gray-color;
    font-size: 14px;
    line-height: 100%;
    max-width: 141px;
    padding: 0 8px;
  }
}

.example__expenses {
  margin: 0 auto 20px auto;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    align-items: end;
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.example__expenses-item {
  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 9px;
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-of-type) {
      margin-right: 63px;
      margin-bottom: 0;
    }
  }
}
