@use "./variables.scss" as *;

.example {
  padding: 25px 20px 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1225px;
  }
}

.example__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 76px;
  }
}

.example__paragraph {
  margin: 0;
  margin-bottom: 54px;
  color: $grey-color;
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
    justify-content: flex-start;
  }
}

.example__item {
  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-right: 60px;
    }
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $black-color;
  text-align: center;
  margin-bottom: 8px;
}

.example__description {
  font-size: 12px;
  line-height: 100%;
  color: $grey-color;
  margin: 0;
  text-align: center;
}

.example__expenses {
  margin: 0 auto 20px auto;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }
}
