@use "./variables.scss" as *;

.form__title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: $black-color;
  margin: 0;
  margin-bottom: 38px;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 54px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 56px;
    padding-top: 0;
  }
}

.form__paragraph {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: $black-color;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 66px;
    max-width: 323px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 66px;
    max-width: 323px;
  }
}

.form__section-wrapper {
  &--main {
    @media (min-width: $desktop-width) {
      display: flex;
      margin-bottom: 49px;
    }
  }

  &--comment {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }
  }

  &--submit {
    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  &--main {
    display: flex;
    gap: 80px;

    @media (min-width: $desktop-width) {
      width: 569px;
    }
  }

  &--program {
    @media (min-width: $tablet-width) {
      padding: 25px 27px 11px;
      border: 1px solid $basic-gray-color;
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px 28px 0;
      border: 1px solid $basic-gray-color;
      margin-bottom: 0;
      width: 568px;
      height: 200px;
    }
  }

  &--contact {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      margin-bottom: 67px;
    }
  }

  &--comment {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }
}

.form__section-title {
  position: relative;
  display: inline-block;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 14px;
  max-width: 201px;
  background-color: $white-color;

  &::after {
    position: absolute;
    content: " ";
    width: 300px;
    top: 50%;
    left: 0;
    height: 2px;
    background-color: $main-color;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 768px;
      left: -31px;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      left: -70px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 600px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
  }

  &--comment {
    display: inline-block;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &--main {
    @media (min-width: $tablet-width) {
      margin-bottom: 56px;
      width: 630px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      width: 569px;
      margin-right: 80px;
    }
  }

  &--program {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
    }
  }

  &--contacts {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      margin-bottom: 47px;
    }
  }

  &--aditionally {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 61px;
    }
  }
}

.form__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &--contacts-email {
    position: relative;

    @media (min-width: $desktop-width) {
      width: 50%;
      margin-right: 78px;
    }
  }

  &--contacts-phone {
    position: relative;

    @media (min-width: $desktop-width) {
      width: 50%;
      margin-right: 78px;
    }
  }

  &--aditionally {
    @media (min-width: $tablet-width) {
      width: 50%;
      margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      width: 25%;
      margin-bottom: 0;
    }
  }
}

.form__input-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  border: 0;
  align-items: center;


  @media (min-width: $desktop-width) {
    gap: 78px;
  }
}

.form__label {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 129%;
  text-transform: uppercase;
  color: $grey-color;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 150%;
  }

  &--main {
    color: $grey-color;
  }

  &--radio {
    color: $grey-color-2;
  }

  &--contacts {
    color: $grey-color;
  }

  &--aditionally {
    color: $black-color;
  }
}

.form__input {
  position: relative;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $grey-color;
  padding: 0 40px 0 20px;
  height: 45px;
  outline: 1px solid $grey-color-4;
  border: 0;
  flex-grow: 1;

  &:hover {
    outline: 1px solid $special-grey;
  }

  &:focus {
    outline: 1px solid $grey-color;
  }

  &--stroke:focus + svg {
    stroke: $main-color;
  }

  &--error {
    border: 1px solid $status-red;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 150%;
    height: 52px;
  }
}

.form__input-icon {
  position: absolute;
  display: block;
  fill: none;
  right: 18px;
  stroke: $grey-color-2;

  &--error {
    stroke: $status-red;
  }
}

.form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__radio + .form__label--radio {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &:hover {
    &::before {
      border: 1px solid $grey-color-5;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      border: 1px solid $grey-color-5;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $basic-gray-color;
    border-radius: 50%;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

.form__radio:checked + label {
  &::before {
    background-image: url("../img/form/radiobutton-active.svg");
  }

  &:hover {
    &::before {
      border: 1px solid $grey-color-5;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      border: 1px solid $grey-color-5;
    }
  }
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &:hover {
    &::before {
      border: 1px solid $grey-color-5;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      border: 1px solid $grey-color-5;
    }
  }


  &::before {
    content: " ";
    display: inline-block;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $basic-gray-color;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

.form__checkbox:checked + label {
  &::before {
    background-image: url("../img/form/checkbox-active.svg");
  }
}

.form__contact-title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $black-color;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
  }
}

.form__textarea {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $grey-color;
  width: 100%;
  min-height: 150px;
  padding: 10px 12px 0 15px;
  outline: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 631px;
    height: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 174px;
  }
}

.form__required {
  font-size: 14px;
  line-height: 114%;
  align-items: center;
  text-align: center;
  color: $black-color;
  margin: 0;
  margin-top: 10px;
}

.form__button {
  @media (min-width: $tablet-width) {
    width: 282px;
    margin: 0;
    margin-right: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin: 0;
    margin-right: 84px;
  }
}
