@use "./variables.scss" as *;

.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 290px;
  margin-top: 90px;

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/main-container/cat.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 290px;
    width: 100%;
    z-index: -1;
    top: 0;

    @media (min-width: $tablet-width) {
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      height: 288px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-height: 288px;
    width: 245px;
  }
}

.gift img {
  margin: 58px auto 48px auto;

  @media (min-width: $tablet-width) {
    margin: 57px 265px 60px 77px;
  }
}

.gift__discription {
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: $white-color;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
