@use "./variables.scss" as *;

.gift {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 290px;

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/catalog/cat.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 290px;
    width: 100%;
    z-index: -1;
    top: 0;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/catalog/cat@2x.png");
    }

    @media (min-width: $tablet-width) {
      background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/catalog/cat-tablet.png");
      height: 200px;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/catalog/cat-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/catalog/cat-desktop.png");
      height: 288px;
      margin-top: 0;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/catalog/cat-desktop@2x.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    min-height: 200px;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-height: 288px;
    width: 245px;
    justify-content: end;
    padding-bottom: 42px;
  }
}

.gift__discription {
  position: relative;
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: $white-color;
  text-align: center;
  margin: 0;
  padding-top: 186px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-top: 71px;
    padding-right: 124px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    padding-right: 0;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/catalog/icon_gift.svg");
    background-repeat: no-repeat;
    height: 80px;
    width: 78px;
    top: 58px;
    left: 40px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      height: 82px;
      width: 80px;
      top: 60px;
      left: -343px;
    }

    @media (min-width: $desktop-width) {
      height: 82px;
      width: 80px;
      left: 80px;
      top: -140px;
    }
  }
}
