.main-header {
  width: 280px;
  padding: 10px 20px 18px 10px;
  margin: 0;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-header__logo {
  display: flex;
  align-items: center;
}

.main-header__logo-cat {
  margin-right: auto;
}

.main-header__button {
  width: 26px;
  height: 18px;
  border: 0;
  padding: 0;
  background-color: inherit;
  background-image: url("../img/main-header/menu.svg");
  background-position: center;
}
