@use "./variables.scss" as *;

.main-header {
  padding: 10px 20px 18px 10px;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
  }

  .main-header__button {
    display: none;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-header__logo {
  display: flex;
  align-items: center;

  :last-of-type {
    margin-left: 56px;
  }
}

.main-header__button {
  width: 26px;
  height: 18px;
  border: 0;
  padding: 0;
  background-color: inherit;
  background-image: url("../img/main-header/menu.svg");
  background-position: center;
}
