@use "./variables.scss" as *;

.main-footer {
  background: $basic-gray-color;
  padding: 40px 20px 40px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 30px 55px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 71px 110px;
  }
}

.main-footer__logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &::before {
    display: block;
    position: absolute;
    content: " ";
    width: 281px;
    height: 1px;
    top: 44px;
    background-color: $line-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__logo-name {
  fill: $color-footer-logo;

  @media (min-width: $tablet-width) {
    width: 142.82px;
    height: 26.23px;
  }

  &:hover {
    fill: $grey-color-6;
    opacity: 0.6;
  }

  &:focus {
    fill: $grey-color-6;
    opacity: 0.6;
  }

  &:active {
    fill: $grey-color-7;
    opacity: 0.3;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
}
