@use "./variables.scss" as *;

.main-nav {
  &--closed {
    @media (min-width: $tablet-width) {
      display: flex;
      margin: 0;
    }

    .main-nav__list {
      display: none;

      @media (min-width: $tablet-width) {
        display: flex;
      }
    }

    .main-nav__button {
      width: 26px;
      height: 18px;
      border: 0;
      padding: 0;
      background-color: inherit;
      background-image: url("../img/main-header/menu.svg");
      background-position: center;
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--opened {
    .main-nav__list {
      position: absolute;
      width: 100%;
      background: $white-color;
      left: 0;
      top: 100%;
      z-index: 1;

      @media (min-width: $tablet-width) {
        display: flex;
        position: inherit;
      }

      @media (min-width: $desktop-width) {
        background: transparent;
      }
    }

    .main-nav__button {
      width: 26px;
      height: 18px;
      border: 0;
      padding: 0;
      background-color: inherit;
      background-image: url("../img/main-header/menu.svg");
      background-position: center;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--nojs {
    width: 100%;

    @media (min-width: $tablet-width) {
      width: auto;
    }

    .main-nav__button {
      display: none;
    }

    .main-nav__list {
      position: static;
      display: block;

      @media (min-width: $tablet-width) {
        display: flex;
      }
    }

    .site-list__item:last-of-type {
      border-bottom: 0;
    }
  }
}
