@use "./variables.scss" as *;

.main-nav__list {
  display: none;
  position: absolute;
  width: 100%;
  background: $white-color;
  left: 0;
  top: 100%;
  z-index: 1;
}

.main-nav__button {
  width: 26px;
  height: 18px;
  border: 0;
  padding: 0;
  background-color: inherit;
  background-image: url("../img/main-header/menu.svg");
  background-position: center;

  &:focus + .main-nav__list {
    display: block;
  }

  &:focus {
    background-color: inherit;
    background-image: url("../img/main-header/menu.svg");
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    margin: 0;
  }
}

