@use "./variables.scss" as *;

.main-footer {
  background: $basic-gray-color;
  padding: 40px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 58px 30px 55px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 71px 110px;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
}
