@use "./variables.scss" as *;

.map__wrapper {
  display: flex;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 80px;
    max-width: 425px;
    max-height: 86px;
  }
}

.map__heading {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  text-transform: uppercase;
  color: $black-color;
  margin: 0;
  width: 50%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 130%;
  }
}

.map__address {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  margin: 0;
  width: 50%;
  color: $grey-color;

  @media (min-width: $tablet-width) {
    text-align: end;
    font-size: 16px;
    line-height: 125%;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    font-size: 16px;
    line-height: 125%;
  }
}

.map__address-wrapper {
  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 19px;
    }
  }
}
