@use "./variables.scss" as *;

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-list__item {
  margin-bottom: 31px;
}

.product-list__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-color;
}

.product-list__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-list__specifications {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $grey-color;
  margin: 0;
}
