@use "./variables.scss" as *;

.program-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    min-width: 628px;
    border: 1px solid $basic-gray-color;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 0;
    min-width: 568px;
  }
}

.program-list__item {
  margin-bottom: 14px;
}

.program-list__label {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  text-transform: uppercase;
  color: $black-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 150%;
  }
}

.program-list__input {
  margin: 0;
  margin-right: 15px;
}
