@use "./variables.scss" as *;

.promo {
  padding: 0;

  @media (min-width: $tablet-width) {
    min-height: 810px;
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-height: 550px;
    padding: 0 30px 0 30px;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    position: static;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    padding: 0;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/main-container/promo/cat-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 302px;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/main-container/promo/cat-bg@2x.png");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/main-container/promo/cat-bg-desktop.png");
      width: 50%;
      height: 694px;
      top: 0;
      left: 50%;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient($main-gradient-color, $main-gradient-color), url("../img/main-container/promo/cat-bg-desktop@2x.png");
      }
    }
  }
}

.promo__text-container {
  position: relative;
  min-height: 302px;

  @media (min-width: $tablet-width) {
    min-height: 0;
  }
}

.promo__image {
  display: block;
  object-fit: contain;
  margin: -130px auto 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    z-index: -1;
    top: 490px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    left: 558px;
    top: 280px;
  }
}

.promo__title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: $white-color;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    text-align: left;
    color: $black-color;
    padding-left: 90px;
    margin-bottom: 41px;
    margin-top: 0;
    order: 1;
  }
}

.promo__intro {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: $white-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    color: $black-color;
    padding-left: 90px;
    margin-bottom: 49px;
    order: 2;
  }
}

.promo__button {
  width: 100%;
  text-decoration: none;

  &:hover {
    background: $grey-special;
  }

  &:active {
    background: $grey-special;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
    margin: 0;
    margin-left: 90px;
    order: 3;
    width: 244px;
    height: 54px;
  }
}
