.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient($main-color, $main-color), url("../img/main-nav/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 302px;
    width: 100%;
    z-index: -1;
    top: 0;
  }
}

.promo__text-container {
  position: relative;
  min-height: 302px;
}

.promo__wrapper img {
  display: block;
  margin: -130px auto 0 auto;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white-color;
}

.promo__intro {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white-color;
}

.promo__button-choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: $white-color;
  min-height: 40px;
  background: $main-color;
  border: none;
}
