@use "./variables.scss" as *;

.range {
  @media (min-width: $tablet-width) {
    min-height: 613px;
    background-image: linear-gradient($white-color 30%, $basic-gray-color 30%);
  }

  @media (min-width: $desktop-width) {
    min-height: 512px;
    min-width: 560px;
    background-image: linear-gradient($white-color 20%, $basic-gray-color 20%);
  }
}

.range__image-wrapper {
  display: grid;
  grid-template-columns: 50% 1fr;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 30px;
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    width: 560px;
    height: 512px;
  }
}

.range__figure {
  margin: 0;
  width: 100%;
  overflow: hidden;

  &--after {
    display: flex;
    justify-content: flex-end;
  }
}

.range__image {
  width: 280px;
  height: 256px;
  object-fit: contain;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}
