@use "./variables.scss" as *;

.range {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 662px;
    background-image: linear-gradient($white-color 30%, $basic-gray-color 30%);
  }

  @media (min-width: $desktop-width) {
    min-height: 512px;
    min-width: 560px;
    background-image: linear-gradient($white-color 22%, $basic-gray-color 22%);
    margin-top: -4px;
  }
}

.range__image-wrapper {
  display: grid;
  grid-template-columns: 50% 1fr;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 560px;
    height: 557px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    width: 560px;
    height: 557px;
  }
}

.range__figure {
  margin: 0;
  width: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }

  &--after {
    display: flex;
    justify-content: flex-end;
  }
}

.range__image {
  width: 280px;
  height: 256px;
  object-fit: contain;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.range__button-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;

  @media (min-width: $tablet-width) {
    height: 92%;
  }

  @media (min-width: $desktop-width) {
    height: 98%;
  }
}

.range__button {
  position: absolute;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white-color;
  border: 2px solid $gray-range-color;

  &:hover {
    svg {
      fill: $main-color;
    }

    border: 2px solid $main-color;
  }

  &:hover + .range__scale {
    background: $main-color;
  }

  &:focus {
    svg {
      fill: $green-special-scale;
    }

    border: 2px solid $green-special-scale;
  }

  &:focus + .range__scale {
    background: $green-special-scale;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    top: 40%;
  }
}

.range__button-arrow {
  fill: $gray-range-color;
}

.range__scale {
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: $gray-range-color;

  @media (min-width: $tablet-width) {
    width: 4px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-40px);
  }
}
