.request {
  margin-bottom: 32px;
}

.wrapper--gray {
  background: hsl(0, 0%, 95%);
}

.form__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.form__paragraph {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}

.form__main-information {
  margin-bottom: 46px;
}

.form__input-wrapper {
  padding: 0;
  border: 0;
}

.form__main-item {
  display: flex;
  margin: 0;
  margin-bottom: 14px;
  align-items: center;
}

.form__label {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

.form__input {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding: 0 20px;
  height: 45px;
}

.form__contact {
  margin-bottom: 24px;
}

.program-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.program-list__item {
  margin-bottom: 14px;
}

.program-list__label {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.program-list__input {
  margin: 0;
  margin-right: 15px;
}

.form__contact-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}

.form__comment {
  margin-bottom: 23px;
}

.form__input-comment {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  max-width: 270px;
  min-height: 150px;
  padding: 10px 12px 0 15px;
}

.additionally-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.additionally-list__item {
  margin-bottom: 14px;
}

.additionally-list__label {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.additionally-list__input {
  margin-right: 16px;
}

.form__additionally {
  margin-bottom: 34px;
}

.request__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
  width: 280px;
  min-height: 40px;
  background: hsl(97, 53%, 47%);
  border: none;
}

.request__info {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  margin: 0;
}
