.request {
  padding: 0 20px 32px 20px;
  margin: 0;
}

.wrapper--gray {
  background: $basic-gray-color;
}

.request__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  color: $white-color;
  min-height: 40px;
  background: $main-color;
  border: none;
}

.request__info {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $black-color;
  text-align: center;
  margin: 0;
}
