@use "./variables.scss" as *;

.request {
  padding: 0 20px 32px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 67px 71px 71px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 82px 110px;
    margin: 0;
  }
}

.wrapper--gray {
  background: $basic-gray-color;
}

.request__button-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.request__button {
  @media (min-width: $desktop-width) {
    max-width: 568px;
    margin: 0;
    margin-right: 84px;
  }
}

.request__info {
  display: flex;
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: $black-color;
  text-align: center;
  margin: 0;
  align-items: center;
}
