@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff"), url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
  min-height: 40px;
  background: #68b738;
  border: none;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image:last-of-type {
  margin-left: 57px;
}
@media (min-width: 768px) {
  .logo__image:last-of-type {
    margin-left: 12px;
  }
}

.main-container__catalog {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .main-container__catalog {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .main-container__catalog {
    display: flex;
    flex-direction: row;
    padding: 0 110px;
    gap: 80px;
  }
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 18px 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .main-header {
    padding: 24px 30px 64px 30px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 53px 110px 111px 110px;
  }
}

@media (min-width: 768px) {
  .main-header__wrapper {
    max-width: 174px;
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    margin: 0;
  }
}

.main-nav__list {
  display: none;
  position: absolute;
  width: 100%;
  background: #ffffff;
  left: 0;
  top: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    position: inherit;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    background: transparent;
  }
}

.main-nav__button {
  width: 26px;
  height: 18px;
  border: 0;
  padding: 0;
  background-color: inherit;
  background-image: url("../img/main-header/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.main-nav__button:focus + .main-nav__list {
  display: block;
}
.main-nav__button:focus {
  background-color: inherit;
  background-image: url("../img/main-header/menu.svg");
  background-position: center;
}
@media (min-width: 768px) {
  .main-nav__button {
    display: none;
  }
}

@media (min-width: 1440px) {
  .map {
    position: relative;
    z-index: 1;
  }
}

.map__location {
  border: none;
  display: block;
  width: 320px;
  height: 362px;
}
@media (min-width: 768px) {
  .map__location {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .map__location {
    z-index: 1;
    width: 1440px;
    height: 400px;
  }
}

.promo {
  padding: 0;
}
@media (min-width: 768px) {
  .promo {
    min-height: 810px;
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .promo {
    min-height: 550px;
    padding: 0 30px 0 30px;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .promo__wrapper {
    position: static;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    position: static;
    padding: 0;
  }
}
.promo__wrapper::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/main-nav/index-background-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 302px;
  width: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .promo__wrapper::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper::before {
    display: block;
    width: 50%;
    height: 694px;
    top: 0;
    left: 50%;
  }
}

.promo__text-container {
  position: relative;
  min-height: 302px;
}
@media (min-width: 768px) {
  .promo__text-container {
    min-height: 0;
  }
}

.promo__image {
  display: block;
  object-fit: contain;
  margin: -130px auto 0 auto;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    width: 709px;
    height: 609px;
    z-index: -1;
    top: 490px;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    position: absolute;
    width: 552px;
    height: 499px;
    left: 558px;
    top: 280px;
  }
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 100%;
    text-align: left;
    color: #000000;
    padding-left: 90px;
    margin-bottom: 41px;
    margin-top: 0;
    order: 1;
  }
}

.promo__intro {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 768px) {
  .promo__intro {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    padding-left: 90px;
    margin-bottom: 49px;
    order: 2;
  }
}

.promo__button {
  width: 100%;
  text-decoration: none;
}
@media (min-width: 768px) {
  .promo__button {
    font-size: 20px;
    line-height: 100%;
    margin: 0;
    margin-left: 90px;
    order: 3;
    width: 244px;
    height: 54px;
  }
}

.catalog-container {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .catalog-container {
    padding: 0 30px 68px;
  }
}
@media (min-width: 1440px) {
  .catalog-container {
    padding: 0 110px 75px;
  }
}

.catalog-container__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .catalog-container__title {
    font-size: 60px;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 82px;
  }
}
@media (min-width: 1440px) {
  .catalog-container__title {
    font-size: 60px;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 84px;
  }
}

.catalog__program {
  min-height: 250px;
  padding: 21px 33px 0 20px;
  background: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog__program {
    padding: 81px 62px 53px 52px;
  }
}
@media (min-width: 1440px) {
  .catalog__program {
    padding: 81px 62px 53px 52px;
  }
}

.catalog__name-program {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;
}
@media (min-width: 768px) {
  .catalog__name-program {
    text-align: start;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 24px;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__name-program {
    text-align: center;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 74px;
    margin-left: 0;
  }
}
.catalog__name-program::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 50px;
  background-image: url("../../img/main-container/program/cat.svg");
  background-repeat: no-repeat;
  right: 115%;
  top: -2px;
  z-index: 1;
}
@media (min-width: 768px) {
  .catalog__name-program::before {
    position: absolute;
    content: "";
    width: 144px;
    height: 194px;
    background-image: url("../../img/main-container/program/cat-slim.svg");
    background-repeat: no-repeat;
    right: 1px;
    top: 0;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .catalog__name-program::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 97px;
    background-image: url("../../img/main-container/program/cat-desktop.svg");
    background-repeat: no-repeat;
    left: 10px;
    top: -28px;
    z-index: 1;
  }
}
.catalog__name-program::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  right: 112%;
  top: -2px;
  z-index: 0;
}
@media (min-width: 768px) {
  .catalog__name-program::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
    right: -30px;
    top: 10px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__name-program::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #68b738;
    left: -8px;
    top: -25px;
    z-index: 0;
  }
}
.catalog__name-program--aftercat::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 28px;
  background-image: url("../../img/main-container/program/leopard.svg");
  background-repeat: no-repeat;
  right: 107%;
  top: 10px;
  z-index: 1;
}
@media (min-width: 768px) {
  .catalog__name-program--aftercat::before {
    position: absolute;
    content: "";
    width: 268px;
    height: 112px;
    background-image: url("../../img/main-container/program/leopard-slim.svg");
    background-repeat: no-repeat;
    right: -30px;
    top: 20px;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .catalog__name-program--aftercat::before {
    position: absolute;
    content: "";
    width: 134px;
    height: 56px;
    background-image: url("../../img/main-container/program/leopard-desktop.svg");
    background-repeat: no-repeat;
    left: -27px;
    top: 0;
    z-index: 1;
  }
}
.catalog__name-program--aftercat::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  right: 110%;
  z-index: 0;
}
@media (min-width: 768px) {
  .catalog__name-program--aftercat::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
    right: 0;
    top: -20px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__name-program--aftercat::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #68b738;
    left: -8px;
    top: -25px;
    z-index: 0;
  }
}

.catalog__description {
  width: 228px;
  color: #444444;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog__description {
    min-width: 340px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 48px;
    padding-bottom: 0;
    border-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__description {
    min-width: 450px;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 23px;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.catalog__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.catalog__link::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 12px;
  background-image: url("../../img/main-container/program/arrow.svg");
  background-repeat: no-repeat;
  top: 7px;
  left: 114%;
}

.catalog {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 62px 80px;
  }
}

.catalog__item {
  padding: 11px 0 14px;
  margin-bottom: 19px;
}
.catalog__item--more {
  background-image: url("../../img/catalog/plus.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 30px;
}
@media (min-width: 768px) {
  .catalog__item {
    min-width: 324px;
    background-image: linear-gradient(#ffffff 16%, #f2f2f2 16%);
    padding: 8px 36px 39px;
  }
  .catalog__item--more {
    background-image: url("../../img/catalog/plus.svg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 60px;
    margin-top: 80px;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    min-width: 245px;
    background-image: linear-gradient(#ffffff 16%, #f2f2f2 16%);
    padding: 8px 30px 40px;
  }
  .catalog__item--more {
    background-image: url("../../img/catalog/plus.svg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 60px;
    margin-top: 80px;
  }
}

.catalog__item-wrapper {
  margin: 0;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .catalog__item-wrapper {
    margin-bottom: 29px;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;
  max-width: 76px;
}
@media (min-width: 768px) {
  .catalog__title {
    text-align: center;
    margin-right: 0;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 120%;
    max-width: 140px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    text-align: center;
    margin-right: 0;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 120%;
    max-width: 140px;
  }
}

.catalog__specification-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 9px;
  width: 140px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .catalog__specification-wrapper {
    width: 252px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1440px) {
  .catalog__specification-wrapper {
    width: 169px;
    margin-bottom: 14px;
  }
}

.catalog__specification {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 114%;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__specification {
    font-size: 16px;
    line-height: 100%;
  }
}
@media (min-width: 1440px) {
  .catalog__specification {
    font-size: 16px;
    line-height: 100%;
  }
}

.catalog__item-content-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__item-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .catalog__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .catalog__item-image {
    width: 168px;
    height: 200px;
    margin-bottom: 34px;
  }
}

@media (min-width: 768px) {
  .catalog__button {
    margin-bottom: 0;
  }
}

.advantages {
  padding: 20px 20px 50px 20px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 45px 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 71px 110px 0 110px;
  }
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}

.example {
  background-color: #f2f2f2;
  padding: 25px 20px 40px 20px;
}
@media (min-width: 768px) {
  .example {
    padding: 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example {
    display: flex;
    padding: 0;
    background-image: linear-gradient(#ffffff 20%, #f2f2f2 20%);
  }
}

@media (min-width: 768px) {
  .example__wrapper {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    padding: 0 0 75px 110px;
    margin-right: 224px;
  }
}

.example__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__name {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example__name {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 146px;
  }
}

.example__paragraph {
  margin: 0;
  margin-bottom: 54px;
  color: #444444;
}
@media (min-width: 1440px) {
  .example__paragraph {
    max-width: 436px;
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width: 768px) {
  .example__container {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .example__container {
    display: block;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__list {
    width: 50%;
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .example__list {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 55px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 15px 25px 17px 22px;
}
@media (min-width: 768px) {
  .example__item {
    gap: 60px;
    padding: 15px 30px 20px;
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 1440px) {
  .example__number {
    font-size: 30px;
    line-height: 123%;
    margin-bottom: 0;
  }
}

.example__description {
  position: absolute;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  max-width: 88px;
  padding: 0 14px;
  margin: 0;
  text-align: center;
  bottom: -10px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .example__description {
    background-color: #ffffff;
    padding: 0 5px;
    max-width: 125px;
    bottom: -5px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 100%;
    max-width: 141px;
    padding: 0 8px;
  }
}

.example__expenses {
  margin: 0 auto 20px auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .example__expenses {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    align-items: end;
    font-size: 20px;
    line-height: 100%;
  }
}
@media (min-width: 1440px) {
  .example__expenses {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 100%;
  }
}

@media (min-width: 768px) {
  .example__expenses-item:not(:last-of-type) {
    margin-bottom: 9px;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .example__expenses-item:not(:last-of-type) {
    margin-right: 63px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .range {
    min-height: 613px;
    background-image: linear-gradient(#ffffff 30%, #f2f2f2 30%);
  }
}
@media (min-width: 1440px) {
  .range {
    min-height: 512px;
    min-width: 560px;
    background-image: linear-gradient(#ffffff 20%, #f2f2f2 20%);
  }
}

.range__image-wrapper {
  display: grid;
  grid-template-columns: 50% 1fr;
}
@media (min-width: 768px) {
  .range__image-wrapper {
    margin: 0 auto;
    padding-top: 30px;
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1440px) {
  .range__image-wrapper {
    padding-top: 0;
    width: 560px;
    height: 512px;
  }
}

.range__figure {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.range__figure--after {
  display: flex;
  justify-content: flex-end;
}

.range__image {
  width: 280px;
  height: 256px;
  object-fit: contain;
  margin: 0;
}
@media (min-width: 768px) {
  .range__image {
    width: 560px;
    height: 512px;
  }
}

.contacts__wrapper {
  display: flex;
  padding: 26px 20px;
  background: #ffffff;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    position: absolute;
    padding: 56px 80px;
    width: 565px;
    z-index: 2;
    left: 110px;
    bottom: 276px;
  }
}

.contacts__offer {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  width: 50%;
}
@media (min-width: 768px) {
  .contacts__offer {
    font-size: 20px;
    line-height: 130%;
  }
}
@media (min-width: 1440px) {
  .contacts__offer {
    font-size: 20px;
    line-height: 130%;
    margin-right: 87px;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  margin: 0;
  width: 50%;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__address {
    text-align: end;
    font-size: 16px;
    line-height: 125%;
  }
}
@media (min-width: 1440px) {
  .contacts__address {
    text-align: start;
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 768px) {
  .contacts__address-item:not(:last-of-type) {
    margin-bottom: 16px;
  }
}
@media (min-width: 1440px) {
  .contacts__address-item {
    text-align: start;
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 768px) {
  .contacts__address-wrapper:not(:last-of-type) {
    margin-bottom: 19px;
  }
}

.main-footer {
  background: #f2f2f2;
  padding: 40px 20px 40px 20px;
}
@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    padding: 58px 30px 55px 30px;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    padding: 71px 110px;
  }
}

.main-footer__logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.main-footer__logo::before {
  display: block;
  position: absolute;
  content: " ";
  width: 281px;
  height: 1px;
  top: 44px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .main-footer__logo::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-footer__logo::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-footer__logo {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}
@media (min-width: 768px) {
  .copyright__text {
    font-size: 16px;
    line-height: 19px;
    color: #444444;
    margin-right: 23px;
  }
}

.request {
  padding: 0 20px 32px 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .request {
    padding: 0 67px 71px 71px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .request {
    padding: 0 110px 82px 110px;
    margin: 0;
  }
}

.wrapper--gray {
  background: #f2f2f2;
}
@media (min-width: 1440px) {
  .wrapper--gray {
    background: #ffffff;
  }
}

@media (min-width: 1440px) {
  .request__button-wrapper {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .request__button {
    max-width: 568px;
    margin: 0;
    margin-right: 84px;
  }
}

.request__info {
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #000000;
  text-align: center;
  margin: 0;
  align-items: center;
}

.additional {
  padding: 0 20px 54px 20px;
}
@media (min-width: 768px) {
  .additional {
    padding: 0 30px 76px 30px;
  }
}
@media (min-width: 1440px) {
  .additional {
    padding: 0 110px 76px 110px;
  }
}

@media (min-width: 1440px) {
  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.additional__title {
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 37px;
  padding-right: 21px;
}
.additional__title::after {
  position: absolute;
  content: " ";
  width: 300px;
  top: 60%;
  left: 0;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 768px) {
  .additional__title::after {
    width: 768px;
    left: -31px;
  }
}
@media (min-width: 1440px) {
  .additional__title::after {
    width: 1440px;
    left: -110px;
  }
}
@media (min-width: 768px) {
  .additional__title {
    font-size: 36px;
    line-height: 100%;
    padding-left: 31px;
    padding-right: 36px;
  }
}
@media (min-width: 1440px) {
  .additional__title {
    font-size: 36px;
    line-height: 100%;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  position: relative;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .more {
    padding-top: 161px;
    border: 2px solid #f2f2f2;
  }
}

.more__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .more__title {
    width: 134px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 110%;
  }
}

.more__discription {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
  color: #444444;
}
@media (min-width: 768px) {
  .more__discription {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 112%;
    width: 165px;
  }
}

.more__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #444444;
  min-height: 40px;
  border: none;
  background: #f2f2f2;
  width: 100%;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .product-list {
    margin-bottom: 69px;
    gap: 0;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .product-list {
    margin-bottom: 0;
  }
}

.product-list__item {
  padding: 12px 0 19px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .product-list__item {
    margin-bottom: 0;
    padding: 26px 38px 28px 38px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 0;
  }
  .product-list__item:not(:last-of-type) {
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .product-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 15px 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .product-list__item:not(:last-of-type) {
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 768px) {
  .product-list__item-wrapper {
    display: flex;
    margin-right: auto;
  }
}

.product-list__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .product-list__title {
    font-size: 20px;
    line-height: 100%;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .product-list__title {
    font-size: 20px;
    line-height: 100%;
    margin: 0;
    min-width: 163px;
    margin-right: 164px;
  }
}

.product-list__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .product-list__wrapper {
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .product-list__wrapper {
    margin-bottom: 0;
    min-width: 285px;
    margin-right: 40px;
  }
}

.product-list__specifications {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .product-list__specifications {
    font-size: 16px;
    line-height: 125%;
    margin-right: 49px;
  }
}
@media (min-width: 1440px) {
  .product-list__specifications {
    font-size: 16px;
    line-height: 125%;
    margin-right: 112px;
  }
}

.product-list__options {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .product-list__options {
    font-size: 16px;
    line-height: 125%;
  }
}
@media (min-width: 1440px) {
  .product-list__options {
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 1440px) {
  .product-list__button {
    width: 244px;
    margin: 0;
    max-height: 40px;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  margin-bottom: 38px;
  padding-top: 26px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 54px;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .form__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 56px;
    padding-top: 0;
  }
}

.form__paragraph {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .form__paragraph {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 66px;
    max-width: 323px;
  }
}
@media (min-width: 1440px) {
  .form__paragraph {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 66px;
    max-width: 323px;
  }
}

@media (min-width: 1440px) {
  .form__section-wrapper--main {
    display: flex;
    margin-bottom: 49px;
  }
}
.form__section-wrapper--comment {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form__section-wrapper--comment {
    margin-bottom: 65px;
  }
}
@media (min-width: 768px) {
  .form__section-wrapper--submit {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .form__section-wrapper--submit {
    display: flex;
  }
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.form__fieldset--main {
  display: flex;
  gap: 80px;
}
@media (min-width: 1440px) {
  .form__fieldset--main {
    width: 569px;
  }
}
@media (min-width: 768px) {
  .form__fieldset--program {
    padding: 25px 27px 11px;
    border: 1px solid #f2f2f2;
    margin-bottom: 58px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--program {
    padding: 25px 28px 0;
    border: 1px solid #f2f2f2;
    margin-bottom: 0;
    width: 568px;
    height: 200px;
  }
}
.form__fieldset--contact {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__fieldset--contact {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--contact {
    display: flex;
    margin-bottom: 67px;
  }
}
.form__fieldset--comment {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__fieldset--comment {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--comment {
    margin-bottom: 67px;
  }
}

.form__section-title {
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 14px;
  max-width: 201px;
  background-color: #ffffff;
}
.form__section-title::after {
  position: absolute;
  content: " ";
  width: 300px;
  top: 50%;
  left: 0;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 768px) {
  .form__section-title::after {
    width: 768px;
    left: -31px;
  }
}
@media (min-width: 1440px) {
  .form__section-title::after {
    width: 1440px;
    left: -70px;
  }
}
@media (min-width: 768px) {
  .form__section-title {
    font-size: 36px;
    line-height: 100%;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 600px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .form__section-title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
  }
}
.form__section-title--comment {
  display: inline-block;
}

.form__list {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
@media (min-width: 1440px) {
  .form__list {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
@media (min-width: 768px) {
  .form__list--main {
    margin-bottom: 56px;
    width: 630px;
  }
}
@media (min-width: 1440px) {
  .form__list--main {
    margin-bottom: 0;
    width: 569px;
    margin-right: 80px;
  }
}
@media (min-width: 768px) {
  .form__list--program {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .form__list--program {
    width: 568px;
  }
}
.form__list--contacts {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__list--contacts {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__list--contacts {
    flex-direction: row;
    margin-bottom: 47px;
  }
}
.form__list--aditionally {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form__list--aditionally {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .form__list--aditionally {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 61px;
  }
}

.form__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .form__list-item {
    margin-bottom: 20px;
  }
}
.form__list-item--contacts-email {
  position: relative;
}
@media (min-width: 1440px) {
  .form__list-item--contacts-email {
    width: 50%;
    margin-right: 78px;
  }
}
.form__list-item--contacts-email::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../img/form/email-stroke.svg");
  background-repeat: no-repeat;
  top: 13px;
  right: 16px;
  z-index: 1;
}
@media (min-width: 768px) {
  .form__list-item--contacts-email::before {
    top: 16px;
    right: 18px;
  }
}
@media (min-width: 1440px) {
  .form__list-item--contacts-email::before {
    top: 16px;
    right: 16px;
  }
}
.form__list-item--contacts-phone {
  position: relative;
}
@media (min-width: 1440px) {
  .form__list-item--contacts-phone {
    width: 50%;
    margin-right: 78px;
  }
}
.form__list-item--contacts-phone::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../img/form/phone-stroke.svg");
  background-repeat: no-repeat;
  top: 13px;
  right: 12px;
  z-index: 1;
}
@media (min-width: 768px) {
  .form__list-item--contacts-phone::before {
    top: 16px;
    right: 18px;
  }
}
@media (min-width: 1440px) {
  .form__list-item--contacts-phone::before {
    top: 16px;
    right: 16px;
  }
}
@media (min-width: 768px) {
  .form__list-item--aditionally {
    width: 50%;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .form__list-item--aditionally {
    width: 25%;
    margin-bottom: 0;
  }
}

.form__input-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 0;
  border: 0;
  align-items: center;
}
@media (min-width: 1440px) {
  .form__input-wrapper {
    gap: 78px;
  }
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 129%;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  .form__label {
    font-size: 20px;
    line-height: 150%;
  }
}
.form__label--main {
  color: #444444;
}
.form__label--radio {
  color: #222222;
}
.form__label--contacts {
  color: #444444;
}
.form__label--aditionally {
  color: #000000;
}

.form__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding: 0 40px 0 20px;
  height: 45px;
  border: 1px solid #cdcdcd;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .form__input {
    font-size: 20px;
    line-height: 150%;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .form__input {
    font-size: 20px;
    line-height: 150%;
    height: 52px;
  }
}

.form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}
.form__radio + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
@media (min-width: 768px) {
  .form__radio + label::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) {
  .form__radio + label::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.form__radio:checked + label::before {
  background-image: url("../../img/form/radiobutton-active.svg");
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}
.form__checkbox + label::before {
  content: " ";
  display: inline-block;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #f2f2f2;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
@media (min-width: 768px) {
  .form__checkbox + label::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) {
  .form__checkbox + label::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.form__checkbox:checked + label::before {
  background-image: url("../../img/form/checkbox-active.svg");
}

.form__contact-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__contact-title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .form__contact-title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
  }
}

.form__textarea {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  min-height: 150px;
  padding: 10px 12px 0 15px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form__textarea {
    width: 631px;
    height: 174px;
  }
}
@media (min-width: 1440px) {
  .form__textarea {
    width: 1220px;
    height: 174px;
  }
}

.form__required {
  font-size: 14px;
  line-height: 114%;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form__button {
    width: 282px;
    margin: 0;
    margin-right: 64px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    width: 568px;
    margin: 0;
    margin-right: 84px;
  }
}

.additionally-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .additionally-list {
    margin-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
  }
}

.additionally-list__item {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .additionally-list__item {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .additionally-list__item {
    width: 25%;
  }
}

.additionally-list__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additionally-list__label {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  .additionally-list__label {
    font-size: 20px;
    line-height: 150%;
  }
}

.additionally-list__input {
  margin-right: 16px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  /*@media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }*/
}
@media (min-width: 768px) {
  .advantages-list {
    gap: 37px 153px;
    counter-reset: index;
    list-style-type: none;
  }
}
@media (min-width: 1440px) {
  .advantages-list {
    gap: 0;
    justify-content: space-between;
  }
}

.advantages-list__item {
  position: relative;
  display: flex;
  align-items: start;
  width: 100%;
  margin: 0;
  margin-left: 80px;
  color: #444444;
  min-height: 60px;
}
@media (min-width: 768px) {
  .advantages-list__item {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    min-height: 280px;
    width: 250px;
    font-size: 16px;
    line-height: 150%;
    margin-left: 0;
    padding-bottom: 90px;
    padding-top: 30px;
  }
  .advantages-list__item::after {
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    bottom: 20px;
    counter-increment: index;
    content: counters(index, ".", decimal) " ";
  }
}
@media (min-width: 1440px) {
  .advantages-list__item {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    min-height: 280px;
    width: 250px;
    font-size: 16px;
    line-height: 150%;
    margin-left: 0;
    padding-bottom: 90px;
    padding-top: 30px;
  }
}
.advantages-list__item--icon-1::before {
  position: absolute;
  content: "";
  background-image: url("../img/main-container/advantages/icon-1.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 60px;
  width: 60px;
  left: -80px;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .advantages-list__item--icon-1::before {
    left: 0;
    top: 30px;
  }
}
.advantages-list__item--icon-2::before {
  position: absolute;
  content: "";
  background-image: url("../img/main-container/advantages/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 60px;
  width: 60px;
  left: -80px;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .advantages-list__item--icon-2::before {
    left: 0;
    top: 30px;
  }
}
.advantages-list__item--icon-3::before {
  position: absolute;
  content: "";
  background-image: url("../img/main-container/advantages/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 60px;
  width: 60px;
  left: -80px;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .advantages-list__item--icon-3::before {
    left: 0;
    top: 30px;
  }
}
.advantages-list__item--icon-4::before {
  position: absolute;
  content: "";
  background-image: url("../img/main-container/advantages/icon-4.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 60px;
  width: 60px;
  left: -80px;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .advantages-list__item--icon-4::before {
    left: 0;
    top: 30px;
  }
}

@media (min-width: 768px) {
  .advantages-list__text {
    width: 245px;
  }
}
@media (min-width: 1440px) {
  .advantages-list__text {
    width: 245px;
  }
}

.gift {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 290px;
}
.gift::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../img/main-container/cat.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 290px;
  width: 100%;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .gift::before {
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .gift::before {
    height: 288px;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .gift {
    padding-top: 0;
    min-height: 200px;
    justify-content: end;
  }
}
@media (min-width: 1440px) {
  .gift {
    flex-direction: column;
    min-height: 288px;
    width: 245px;
    justify-content: end;
    padding-bottom: 42px;
  }
}

.gift__discription {
  position: relative;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 186px;
}
@media (min-width: 768px) {
  .gift__discription {
    text-align: left;
    padding-top: 71px;
    padding-right: 124px;
  }
}
@media (min-width: 1440px) {
  .gift__discription {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    padding-right: 0;
  }
}
.gift__discription::before {
  position: absolute;
  content: "";
  background-image: url("../../img/catalog/icon_gift.svg");
  background-repeat: no-repeat;
  height: 80px;
  width: 78px;
  top: 58px;
  left: 40px;
  z-index: -1;
}
@media (min-width: 768px) {
  .gift__discription::before {
    height: 82px;
    width: 80px;
    top: 60px;
    left: -361px;
  }
}
@media (min-width: 1440px) {
  .gift__discription::before {
    height: 82px;
    width: 80px;
    left: 80px;
    top: -140px;
  }
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  border-top: 1px solid #f2f2f2;
}
.site-list__item:last-of-type {
  border-bottom: 1px solid #f2f2f2;
}
@media (min-width: 768px) {
  .site-list__item {
    border-top: 0;
    position: relative;
  }
  .site-list__item:not(:last-of-type) {
    margin-right: 34px;
  }
  .site-list__item:last-of-type {
    border-bottom: 0;
  }
}
@media (min-width: 768px) {
  .site-list__item--active-main::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background: #68b738;
    bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .site-list__item--active-main::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background: #ffffff;
    bottom: 10px;
  }
}
@media (min-width: 768px) {
  .site-list__item--active::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background: #68b738;
    bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .site-list__item--active::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background: #68b738;
    bottom: 10px;
  }
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 143%;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    line-height: 133%;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  .site-list__link--white-color {
    color: #ffffff;
  }
}

.social {
  display: flex;
  position: relative;
  align-items: center;
}
.social::before {
  display: block;
  position: absolute;
  content: " ";
  width: 281px;
  height: 1px;
  top: 44px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .social::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .social::before {
    display: none;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 0 auto 43px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .social__list {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */