@use "./blocks/fonts.scss";
@use "./blocks/main-header.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/promo.scss";
@use "./blocks/catalog.scss";
@use "./blocks/advantages.scss";
@use "./blocks/example.scss";
@use "./blocks/map.scss";
@use "./blocks/main-footer.scss";
@use "./blocks/request.scss";

body {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
